<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>DST</title>
  </head>
  <body>
  <br>
  <br>
  
    <div class="container">      
        <div class="card" style="width: 50em;">
            <!-- <img src="{{ url_for('static', filename=display_image) }}" height=400 width=600 class="card-img-top" alt="..."> -->
            
            <div class="card-body">
                <p>{{ item['text']}}</p>
                <hr>    
                <table>
                    <tr>
                        <th>
                            Entity
                        </th>
                        <th>
                            Hint
                        </th>
                        <th>
                            Value
                        </th>
                    </tr>
                    {%for idx, (ent, val) in item.entities.items()%}
                        <tr>
                            <td>
                                {{ent}}
                            </td>
                            <td>
                                {{val}}
                            </td>
                            <td>
                                <input type="text" name={{idx}} id={{idx}} value={{item.entities[idx][1]}}>
                            </td>
                        </tr>
                    {%endfor%}
                </table>
                <hr>
                <div>
                    <a class="btn btn-primary" id="back" href="/back">&laquo; Previous</a>
                    <a class="btn btn-success btn-lg" id="update" href="/api/update/" role="button">Save</a>
                    <a class="btn btn-primary" id="forward" href="/forward">Next &raquo;</a>
                </div>

            </div>
            <div class="card-footer text-muted">
                <!-- {{count}} -->
              </div>
          </div>
    </div>

        <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->

    <script>
        $(document).ready(function(){
            
    
            $("#update").click(function () {  
        
                var data = {}
    
                $("input[type='text']").each(function () {  
    
                    data[$(this).attr('id')] = $(this).val();
                    
                })      
    
    
    
                json_data = JSON.stringify(data);
    
                payload = {data: json_data}
    

                console.log(payload)

                // $.post("/api/post/save/", payload, function(status){
                //     console.log(status);
                // // $("#update").get(0).click()
                // })

                $.ajax({
                    url: '/api/save',
                    data: JSON.stringify(data),
                    type: 'POST',
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (error) {
                        console.log("ERROR");
                        console.log(error);
                    },
                    dataType: "json",
                    contentType: 'application/json;charset=UTF-8',
                });
                    
                    
            }); 
    
        });
        
        </script>

</body>

</html>